
Library/ArtifactDB
Library/ArtifactDB
Library/Artifacts/88/881aefd4f1bc754dccaa787f8dfb3f7b
Library/Artifacts/88/88c043dbe2aa6620587f44ad5cd350e7
Library/Artifacts/a5/a5e8f4693b3ddea2d1aef9d98da9883e
Library/Artifacts/ff/ffaa0401714294d36251f8fd6940ae2f
Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.dll
Library/Bee/artifacts/1900b0aE.dag/Assembly-CSharp.pdb
Library/Bee/backend_profiler0.traceevents
Library/Bee/fullprofile.json
Library/Bee/tundra.digestcache
Library/Bee/TundraBuildState.state
Library/Bee/TundraBuildState.state.map
Library/EditorInstance.json
Library/SceneVisibilityState.asset
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/Search/transactions.db
Library/SourceAssetDB
Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
Library/StateCache/SceneView/8c/8cd7c613bf844de3b80696e27a479d5e.json
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1-prev.log
Logs/AssetImportWorker1.log
Logs/shadercompiler-AssetImportWorker0.log
Temp/FSTimeGet-0e809b170c72c824d801d552692ba689
Temp/FSTimeGet-10e41c385b1deff4d93a422fe0622b6a
Temp/FSTimeGet-3280c3e292198b843af004b6b99d0a77
Temp/ProcessJobs/b8613a84801a46c691ba1681b66ddf56.layout
Temp/ProcessJobs/e9a6970f79cd12d8b075e7d72f1b07cb.bakert
Temp/UnityLockfile
Temp/workerlic
